:root {
    --yellow: rgb(254 240 138);
}

.highlight {
    transition: all 0.5s;
}

.highlight:hover {
    cursor: pointer;
    color: var(--yellow);
}

.hiddenChild {
    transition: all 0.5s ease-in-out;
    width: 0px;
    height: 3px;
    border-radius: 9999px;
    background-color: 'white'
}

@media only screen and (min-width: 600px) {
    .highlight .hiddenChild {
        visibility: hidden;
    }
} 

.highlight:hover .hiddenChild {
    visibility: visible;
    width: 100%;
    background-color: var(--yellow)
}

@media only screen and (max-width: 600px) {
    .hiddenChild {
        visibility: visible;
        width: 100%;
        background-color: var(--yellow)
    }
}