.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: opacity 2s, blur 2s, transform 0.6s;
    -webkit-transition: opacity 2s, blur 2s, transform 0.6s;
    -moz-transition: opacity 2s, blur 2s, transform 0.6s;
  }

.show {
    opacity: 1;
    filter: blur(0);
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

.glass {
    /* From https://css.glass */
    background: rgba(51, 65, 82, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(51, 65, 82, 0.13);
}