/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato Bold";
  src: url('/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: "Lato Light";
  src: url('/fonts/Lato-Light.ttf');
}

@font-face {
  font-family: "Lato Thin";
  src: url('/fonts/Lato-Thin.ttf');
}

@font-face {
  font-family: "Lato";
  src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: "DM Serif";
  src: url('/fonts/DMSerifText-Regular.ttf');
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
 :root {
  --yellow: rgb(254 240 138);
  --primary: rgba(51, 65, 82)
}


html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji', "Lato Thin", "Lato Light", "Lato Bold", "DM Serif";
  
  @apply text-white
}

body {
  padding: 0;
  line-height: inherit;
  background-image: url("/IMG_1550.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

a {
  transition: all 0.5s;
}

a:hover {
  cursor: pointer;
  color: var(--yellow);
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
  border: 2px solid var(--yellow);
}